@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Kanit:wght@500&family=Quicksand:wght@600&family=Raleway+Dots&family=Raleway:wght@200&family=Rubik+Mono+One&family=Teko&display=swap');

html{
  height: 50vh;
}
#background-video{
  position: fixed;
  order: 1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    box-shadow: 0px 5px 20px rgb(0, 0, 0);
}
main {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.vids{
    display: flex;
    flex-direction: column;
    gap: 200px; /* attention gap texte + back*/
    align-items: stretch;

}
#logo{
    height: auto;
    width: 70px;
    margin: 10px;
}
#logo2{
    height: auto;
    width: 200px;
    margin: 10px;
}
#logo3{
  height: auto;
  width: 70px;
  margin: 10px;
  align-self: flex-start;
}
.stick{
  height: 240em;
}
nav{
  border: rgb(229, 229, 255) 3px solid;
  order: 0;
    z-index: 1;
    background: linear-gradient(#141e30, #243b55);
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    top: 43px;
}

p {
	text-align: center;
}


nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
    display: flex;
    gap: 39px;
    flex-wrap: wrap;
	}
	
nav ul li {
	display:inline-block;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
    font-family: 'Raleway', sans-serif;
    position: relative;
}

  
  nav a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: #444;
    position: absolute;
    top: 10%;
    width: 0%;
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 85%;
    background-color:#004ea7;
  }


  nav ul ul {
	display: none;
	position: absolute; 
}
	

nav ul li:hover > ul {
    animation: pop 0.8s ;
    animation-fill-mode: forwards;  
    display:inherit;
    border-radius: 20px;
    top : 55px;
}

@keyframes pop {
    from{
        background-color: #141e30;
        top: 0px;
        opacity: 0%;
    }
    to{
        background-color:#7fafe6;
        top : -60px;
        opacity: 100%;
        
    }
}

nav ul ul li {
	width: 120px;
	float:none;
	display:list-item;
	position: relative;
}
  
#premiertext {
    text-align: center;
    width: 15em;
    font-size: 70px;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    overflow: hidden; 
    border-right: 0.15em solid orange; 
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    margin: 0 AUTO;
    margin-top:  0px; 
    letter-spacing: .15em;
    font-size: auto; 
    position: relative;
    top: 200px;
    animation: 
      typing1 4s steps(30, end),
      blink-caret 0.5s step-end infinite;
    
  }

.stats{
  position: relative;
  top:260px;
  LEFT: -360px;
  font-size: 40px;
    width: 10em;
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    overflow: hidden; 
    border-right: 0.15em solid orange; 
    white-space: nowrap;
    margin: 0 AUTO;
    margin-top:  0px; 
    letter-spacing: .15em;
    font-size: auto; 
    animation: 
      typing 3.4s steps(30, end),
      blink-caret 0.5s step-end infinite;
    

}
.stats2{
  position: relative;
 left:360px;
top: 0; 
font-size: 40px; 
      width: 10em;
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    overflow: hidden; 
    border-right: 0.15em solid orange; 
    white-space: nowrap;
    margin: 0 AUTO;
    margin-top:  0px; 
    letter-spacing: .15em;
    font-size: auto; 
    animation: 
      typing3 3.4s steps(18, end),
      blink-caret 0.5s step-end infinite;
    

}
h2{
  font-family: 'Raleway Dots', cursive;
  font-size: 60px;
  padding-left: 300px;
  padding-top: 50px;
  text-align: center;
}
#deuxiemetext {
    position: relative;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif, Helvetica, Arial, sans-serif;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(130deg, #f35626, #feab3a);
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes typing3 {
  from { width: 0 }
  to { width: 10em }
}

@keyframes typing {
  from { width: 0 }
  to { width: 10em }
}
  @keyframes typing1 {
    from { width: 0 }
    to { width: 15em }
  }


  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .prez{
    display: grid;
    grid-template-areas: "img txt";
    background-image: url('../Images/bckg3.jpg');
    background-size: 100%;
    box-shadow: inset 0px 10px 21px  rgb(0, 0, 0), inset 0px -10px 21px rgb(0, 0, 0);
  }
  .pres{
    display: flex;
    flex-direction: row;                                                            
  }
  #mira{
    display: grid;
    grid-area: img;
    width: 450px;
    height: 450px;
    margin: 5% 20%   ;
  }
  #txtmira{
    display: grid;
    grid-area: txt;
    color: white;
    padding-top: 3%;
    font-size: 70px;
    margin-top: 5%;
  }
  .prez2{
    display: grid;
    grid-template-areas: "txt img";
    background-image: url('../Images/bckg2.jpg');
    background-size: 100%;
    box-shadow: inset 0px 10px 21px  rgb(0, 0, 0), inset 0px -10px 21px rgb(0, 0, 0);
  
  }
  #quest{
    display: grid;
    grid-area: img;
    width: 550px;
    height: 550px;
    padding: 7%;
    border-radius: 16%;
    margin-left: -10%;
  }
  #txtquest {
    display: grid;
    grid-area: txt;
    color: white;
    padding-top: 15%;
    margin-left: -40%;
    color: black;
  }
#comu{
  animation: h1 3s infinite;
  color: white;
  font-family: 'Teko', sans-serif;
  text-align: center;
  font-size: 90px;
}
@keyframes h1 {
  0%   {text-shadow: 0 0 3px #FF0000; color: #fff;}
  25%  {text-shadow: 0 0 12px #FF0000;}
  50%  {text-shadow: 0 0 20px #FF0000; color: pink;}
  75%  {text-shadow: 0 0 12px #FF0000;}
  100% {text-shadow: 0 0 3px #FF0000; color: #fff;}
}

.prez3{
  display: grid;
  grid-template-areas: "img txt";
  background-image: url('../Images/bckg4.jpg');
  background-size: 100%;
  box-shadow: inset 0px 10px 21px  rgb(0, 0, 0), inset 0px -10px 21px rgb(0, 0, 0);

}
#pets{
  display: grid;
  grid-area: img;
  width: 55%;
  height: 95%;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-left: 150px;
}
#txtpets {
  display: grid;
  grid-area: txt;
  width: auto;
  color: white;
  padding-top: 0px;
  margin-left: -5%;
  color: white;
}

#last{
  font-size: 3em;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
  background: url('https://www.123freevectors.com/ezoimgfmt/i2.wp.com/files.123freevectors.com/wp-content/original/113735-colorful-diagonal-stripes-background-vector.jpg');
  color: #FFF;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text 20s linear infinite;
  text-align: center;
}
@keyframes text {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 400% 50%;
  }
}

.wrap {
text-align: center;
text-decoration: none;
}

.button {
  text-decoration: none;
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 0px 5px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

  .button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 5px);
  min-height: calc(60px + 5px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #ffffff;
  transform: translateY(-6px);
}

.button:hover::before, .button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button:hover::after, .button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}
.footer {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #fff;
  background-color: #2f2f2f;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  color: #ffffff;
  line-height: 13;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}


@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}
.footer li a:hover {
  text-decoration: underline;
}

body{
  display: flex;
  flex-direction: column;
  gap: 1000px;
}