@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
html{
    background-color: white;
}
#background-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;    
    min-height: 100%;
    z-index: -100;
    box-shadow: 0px 5px 20px rgb(0, 0, 0);
}

  
  
#Map{
    width: 75%;
    height: 75%; 
}
.clement{
    display:flex;
    height: 100%;
    width:100%;
    flex-direction: column;
    align-items: center;
}
#scroll{
    position: relative;
    bottom:-20px;
    color: white;
    text-align: center;
    font-size: 3vw;
}
#titre{
    position: relative;
    top: 40px;
    text-align: center;
    font-family: 'Nerko One', cursive;
    font-size: 400%;

}
.texte{
    position: relative;
    top:200px;
    color: white;
    margin-bottom: 28vw;
}
#explication{
    font-size: 3vw;
}
#sous-titre{
    position: relative;
    text-align: center;
}
#nom_salle{
    font-weight: 1000;
    font-size: 150%;
    color: white;
    text-align: center;
}
.cafet{
    display:grid;
    grid-template-areas: "img img2"
                        " txt txt2";
    gap:90px;
    margin:200px;
    margin-bottom: 2px;
    margin-top: 0px;
}
#Cafet_H{
    width:111%;
    grid-area: img;


}
#Cafet_B{
    
    grid-area: img2;
    width:100%;
    
   
}
#Caf_Haut{
    position: relative;
    bottom: 90%;
    grid-area: txt;
    text-align: center;
}
#Caf_Bas{
    position: relative;
    bottom: 90%;
    grid-area: txt2;
    text-align: center;
}
.wire{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#wire_i{
    border-radius: 5%;
    width: 40%;
    height: 40%;
    margin-left: 150px;
    margin-right: 100px;
}
#wire_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.dl{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#dl_i{
    border-radius: 5%;
    width: 40.5%;
    height: 40.5%;
    margin-left: 150px;
    margin-right: 100px;
}
#dl_t{
 
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.emergency{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#Emerg_i{
    border-radius: 5%;
    width: 40.5%;
    height: 40.5%;
    margin-left: 150px;
    margin-right: 100px;
}
#Emerg_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
#Weapons{
    position: relative;
    width: 40%;
    height: 40%;
    left: 30%;
}
.weap{
    margin-bottom: 70px;
}
.astero{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#astero_i{
    border-radius: 5%;
    width: 40.5%;
    height: 40.5%;
    margin-left: 150px;
    margin-right: 100px;
}
#astero_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
#O2{
    position: relative;
    left: 30%;
    width: 40%;
    height: 40%;
    margin-bottom: 10vw; 
    
}
.feuilles{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#feuilles_i{
    border-radius: 5%;
    width: 40.5%;
    height: 40.5%;
    margin-left: 150px;
    margin-right: 100px;
}
#feuilles_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.poub{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#poub_i{
    border-radius: 5%;
    width: 40.5%;
    height: 40.5%;
    margin-left: 150px;
    margin-right: 100px;
}
#poub_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.bidule{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#bidule_i{
    position: relative;
    top: 75px;
    border-radius: 5%;
    width: 40.5%;
    height: 40.5%;
    margin-left: 150px;
    margin-right: 100px;
}
#bidule_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.O2_emerg{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#O2_emerg_i{
    position: relative;
    top:150px;
    border-radius: 5%;
    width: 40.5%;
    height: 40.5%;
    margin-left: 150px;
    margin-right: 100px;
}
#O2_emerg_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.7vw;
}
.navigation{
    margin-bottom: 70px;
}
#Nav{
    position: relative;
    width: 40%;
    height: 40%;
    left: 30%;
}
.navire{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#navire_i{
    border-radius: 5%;
    width: 40.5%;
    height: 40.5%;
    margin-left: 150px;
    margin-right: 100px;
}
#navire_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.croix{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#croix_i{
    border-radius: 5%;
    width: 40.5%;
    height: 40.5%;
    margin-left: 150px;
    margin-right: 100px;
}
#croix_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.shields{
    margin-bottom: 70px;
}
#bouclier{
    position: relative;
    width: 40%;
    left: 30%;
}
.bou{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#bou_i{
    border-radius: 5%;
    width: 40.5%;
    height: 40.5%;
    margin-left: 150px;
    margin-right: 100px;
}
#bou_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
#sus{
    color: red;
    text-align: center;
    font-size: 1.7vw;    
}
.comms{
    margin-bottom: 70px;
}
#communication{
    position: relative;
    width: 40%;
    height: 40%;
    left: 30%;
}
.comms_emerg{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#comms_emerg_i{
    border-radius: 5%;
    width: 40.5%;
    height: 40.5%;
    margin-left: 150px;
    margin-right: 100px;
}
#comms_emerg_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.sto{
    display:grid;
    grid-template-areas: "img img2"
                        " txt txt2";
    gap:90px;
    margin:200px;
    margin-bottom: 2px;
    margin-top: 0px;
}
#sto_H{

    width: 110%;
    grid-area: img;
}
#sto_B{

    width: 90%;
    grid-area: img2;
}
#sto_Haut{

    grid-area: txt;
    text-align: center;
    position: relative;
    bottom: 180%;
}
#sto_Bas{

    position: relative;
    bottom: 180%;
    grid-area: txt2;
    text-align: center;

}


.admin{
    margin-bottom: 70px;
}
#ad{
    position: relative;
    width: 40%;
    height: 40%;
    left: 30%;
}
.carte{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#carte_i{
    border-radius: 5%;
    width: 30%;
    height: 30%;
    margin-left: 150px;
    margin-right: 100px;
}
#carte_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.table{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#table_i{
    position: relative;
    top:180px;
    border-radius: 5%;
    width: 40%;
    height: 40%;
    margin-left: 150px;
    margin-right: 100px;
}
#table_t{
    text-align: center;
    margin-top: 100px;
    font-size: 100%;
}
.elec{
    display:grid;
    grid-template-areas: "img img2"
                        " txt txt2";
    gap:90px;
    margin:200px;
    margin-bottom: 2px;
    margin-top: 0px;
}
#elec_H{

    width: 110%;
    grid-area: img;
}
.timing{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#timing_i{
    border-radius: 5%;
    width: 30%;
    height: 30%;
    margin-left: 150px;
    margin-right: 100px;
}
#timing_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.elec1{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#elec1_i{
    border-radius: 5%;
    width: 30%;
    height: 30%;
    margin-left: 150px;
    margin-right: 100px;
}
#elec1_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.lights{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#lights_i{
    position: relative;
    top:80px;
    border-radius: 5%;
    width: 30%;
    height: 30%;
    margin-left: 150px;
    margin-right: 100px;
}
#lights_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.7vw;
}
.lower{
    margin-bottom: 70px;
}
#low{
    position: relative;
    width: 40%;
    height: 40%;
    left: 30%;
}
.ali{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#ali_i{
    border-radius: 5%;
    width: 30%;
    height: 30%;
    margin-left: 150px;
    margin-right: 100px;
}
#ali_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.sec{
    margin-bottom: 70px;
}
#secu{
    position: relative;
    width: 30%;
    height: 30%;
    left: 35%;
}
.cam{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#cam_i{
    position: relative;
    top: 115px;
    border-radius: 5%;
    width: 40%;
    height: 40%;
    margin-left: 150px;
    margin-right: 100px;
}
#cam_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.reac{
    display:grid;
    grid-template-areas: "img img2"
                        " txt txt2";
    gap:90px;
    margin:200px;
    margin-bottom: 2px;
    margin-top: 0px;
}
#reac_H{

    width: 110%;
    grid-area: img;
}
#reac_B{

    width: 118.8%;
    grid-area: img2;
}
#reac_Haut{

    grid-area: txt;
    text-align: center;
    position: relative;
    bottom: 180%;
    left: 5%;
}
#reac_Bas{
    position: relative;
    bottom: 180%;
    left: 15%;
    grid-area: txt2;
    text-align: center;

}
.simon{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#simon_i{
    position: relative;
    top: 65px;
    border-radius: 5%;
    width: 40%;
    height: 40%;
    margin-left: 150px;
    margin-right: 100px;
}
#simon_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.compte{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#compte_i{
    border-radius: 5%;
    width: 40%;
    height: 40%;
    margin-left: 150px;
    margin-right: 100px;
} 
#compte_t{
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.upper{
    margin-bottom: 70px;
}
#up{
    position: relative;
    width: 30%;
    height: 30%;
    left: 35%;
}
.medbay{
    display:flex;
    justify-content: center;
    margin-bottom: 70px;
}
#med{

    width: 30%;
    height: 30%;
}
.scan{
    display:flex;
    flex-direction: row;
    margin-bottom: 10vw; 
}
#scan_i{
    border-radius: 5%;
    width: 40%;
    height: 40%;
    margin-left: 150px;
    margin-right: 100px;
}
#scan_t{
    position: relative;
    top: 90px;
    text-align: center;
    margin-top: 100px;
    font-size: 1.8vw;
}
.fiole{
    display:flex;
    flex-direction: row;
    margin-bottom: 1vw; 
}
#fiole_i{
    border-radius: 5%;
    width: 40%;
    height: 40%;
    margin-left: 150px;
    margin-right: 100px;
}
#fiole_t{
    border: 1px solid black;
    
    overflow: scroll;
    text-align: center;
    margin-top: 10vw;
    font-size: 1.8vw;
}

@media screen and (max-width: 900px) {
    p{
        margin-top: 0px;
        width: 500px;
        height: 100px;
        overflow: scroll;
        margin-bottom: 0px;
    }
    img{
        display: none;
    }
    #reac_Bas{
        display: none;
    }
    #reac_Haut{
        display: none;
    }
    #Caf_Haut{
        display: none;
    }
    #Caf_Bas{
        display: none;
    }
    #sto_Haut{
        display: none;
    }
    #sto_Bas{
        display: none;
    }
    #explication{
        overflow:visible;
    }
    #scroll{
        display: none;
    }
  }
html{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(36,59,85,1) 10%);
    height: 2120em;
    background-repeat: no-repeat;
    z-index: -100000;
}
p{
    color: white;
}
