@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
html{
    background-color: white;
}
#background-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;    
    min-height: 100%;
    z-index: -100;
    box-shadow: 0px 5px 20px rgb(0, 0, 0);
}

  
  
#Map{
    width: 75%;
    height: 75%; 
}
.clement{
    display:flex;
    height: 100%;
    width:100%;
    flex-direction: column;
    align-items: center;
}
#scroll{
    position: relative;
    bottom:-20px;
    color: white;
    text-align: center;
    font-size: 200%;
}
#titre{
    position: relative;
    top: 40px;
    text-align: center;
    font-family: 'Nerko One', cursive;
    font-size: 400%;

}
.texte{
    position: relative;
    top:200px;
    color: white;
}
#explication{
    font-size: 120%;
}
#sous-titre{
    position: relative;
    text-align: center;
}
#nom_salle{
    position: relative;
    top:400px;
    font-weight: 1000;
    font-size: 150%;
    color: black;
}
.cafet{
    display:flex;
    flex-direction: row;
    gap:10px;
    margin:200px;
}
#Cafet_H{
    width:55.5%;


}
#Cafet_B{
    width:50%;
   
}
html{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(255,255,255,1) 30%);
    height: 400em;
z-index: -100000;
}
