@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

html {
    background-color: white;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(255,255,255,1) 30%);
    background-repeat: no-repeat;
    height: 400em;
    z-index: -100000;
}

#background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    box-shadow: 0px 5px 20px rgb(0, 0, 0);
}



#Map {
    width: 75%;
    height: 75%;
}

.clement {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#scroll {
    position: relative;
    bottom: -20px;
    color: white;
    text-align: center;
    font-size: 200%;
}

#titre {
    position: relative;
    top: 40px;
    text-align: center;
    font-family: 'Nerko One', cursive;
    font-size: 400%;
}

.texte {
    position: relative;
    top: 200px;
    color: white;
    margin-bottom: 28vw;
}

#explication {
    font-size: 120%;
}

#sous-titre {
    position: relative;
    text-align: center;
}
#nom_salle {
    font-weight: 1000;
    font-size: 150%;
    color: black;
    text-align: center;
}